{% extends "layout.html" %}
{{ super() }}

{% block stylesheets %}
    {{ super() }}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">$(function () {
        $('a#test').bind('click', function () {
            $.getJSON('python_process',
                function (data) {
                    //do nothing
                    alert("Whow there hoersey!")
                });
            return false;
        });
    });
    </script>
{% endblock %}

{% block content %}

    <h3>
        This is a header!
    </h3>
    <hr>

    <p>Now let's play a little game...</p>

    <div class="w3-bar w3-center">
        <div class="w3-button w3-amber w3-ripple w3-mobile w3-large w3-round" style="width: 20%"><i
                class="fas fa-cat"></i>
        </div>

        <div class="w3-button w3-amber w3-ripple w3-mobile w3-large w3-round" style="width: 20%"><i
                class="fas fa-dragon"></i>
        </div>

        <div class="w3-button w3-amber w3-ripple w3-mobile w3-large w3-round" style="width: 20%"><i
                class="fas fa-dove"></i>
        </div>

        <div class="w3-button w3-amber w3-ripple w3-mobile w3-large w3-round" style="width: 20%"><i
                class="fas fa-spider"></i>
        </div>

        <div class='container'>
            <h3>Test</h3>
            <form>
                <a href=/base/home id=test>
                    <button class='btn btn-default'>Test</button>
                </a>
            </form>
        </div>
    </div>

    <p></p>

    <div class="w3-bar w3-blue-gray">
        <a class="w3-bar-item w3-button w3-padding-24">

        </a>
        <a class="w3-bar-item w3-button w3-padding-24">

        </a>
    </div>

{% endblock %}